.label {
  display: block;
  font-size: 1.125rem;
  line-height: 1.5;
}

.input {
  font-size: 1rem;
  border-radius: 0.3125rem;
  padding: 0.75rem 1.25rem;
  appearance: none;
  display: block;
  width: 100%;
  margin-bottom: 1.25rem;
}

.input:focus {
  outline: none;
  box-shadow: 2px 2px #fb1;
}
